<h1><%= t("title.profile_info") %></h1>
<p><%= User.human_attribute_name(:user_name) %>:<%= current_user.name %></p>
<p><%= User.human_attribute_name(:email) %>:<%= current_user.email %></p>
<p><%= User.human_attribute_name(:image) %>:<%= image_tag(current_user.image, size: 100) %></p>
<p><%= User.human_attribute_name(:jwt) %>:><%= current_user.token %></p>
